* {
  margin: 0px;
  padding: 0px;
}
/*  GLOBALS  */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
header {
  padding:20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: cadetblue;

}
h1 {
    font-size: 2em;
    padding: 10px;
}
h2 {
    font-size: 1em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}
main h2 {
    width:380px;
    margin-bottom: 20px;
}
#formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:360px;
    padding: 20px;
    gap:5px;
    margin-bottom: 25px;
    color: antiquewhite;
    /*valor inicial de coche*/
  }
button {
    width: 100px;
    background-color: black;
    color: antiquewhite;
    padding:5px;
    border: 0px;
}
.coche{
    background-color: #007bff;
}
.moto{
    background-color: #dc3545;

}
.bici{
    background-color: #28a745;

}
.ocultar{
    opacity:0;
}
.mostrar{
    opacity:1;
}

/*PARTE DE LOS LISTADOS*/
main #listados {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
}
  /* Estilos para listas de vehículos */
  #car_list,
  #moto_list,
  #bici_list {
    margin-top: 10px;
  }
  
  #car_list p,
  #moto_list p,
  #bici_list p {
    margin: 0;
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }